<div class="header">
  <h1>Makers-BnB</h1>
  <p>User portal</p>
</div>

<div class="space-content">

  <%if !(@currentbookings.num_tuples.zero?)%>
  <h2 class="sub">Your locations bookings</h2>
  <%end%>
  <% @currentbookings.each do |data| %>
  <div class="users">
    <div class="users-inner">
      <h3 class="space-title"><%= data["name"]%></h3>
      <p>Guests email: <%= data["useremail"]%></p>
      <p>Address: <%= data["address"]%> </p>
      <p>Price per night: <%= data["pricepernight"]%></p>
      <p>Dates: <%= data["startdate"]%> / <%= data["enddate"]%></p>
    </div>
    <!-- FOR NOW YOU CANNOT CANCEL A BOOKING
    <form action="/user_portal" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input class="delete" type="submit" name="Delete" value="Delete booking">
    </form>
    -->
  </div>
  <% end %>

  <%if !(@userslistings.num_tuples.zero?)%>
  <h2 class="sub">Your location listings</h2>
  <%end%>
  <% @userslistings.each do |data|%>
  <div class="space-list">
    <h3 class="space-title"><%= data["name"]%></h3>
    <p class="">Location: <%= data["address"]%></p>
    <p class="">Price per night: <%= data["pricepernight"]%></p>
    <p class="">Description: <%= data["description"]%></p>
  </div>
  <% end %>

  <div class="space-content">
    <h2 class="sub">Pending requests</h2>
    <div class="users">
      <div class="users-inner">
        <h3 class="space-title">Harry potters house</h3>
        <p>Posted by: Harry Potter</p>
        <p>Location: Hogwarts </p>
        <p>Price per night: £100</p>
        <p>Description: It's a famous place so book it</p>
      </div>
      <form action="#" method="post">
        <input class="accept" type="submit" name="Accept" value="Accept request">
        <input class="decline" type="submit" name="Decline" value="Decline request">
      </form>
    </div>

    <div class="users">
      <div class="users-inner">
        <h3 class="space-title">Harry potters house</h3>
        <p>Posted by: Harry Potter</p>
        <p>Location: Hogwarts </p>
        <p>Price per night: £100</p>
        <p>Description: It's a famous place so book it</p>
      </div>
      <form action="#" method="post">
        <input class="accept" type="submit" name="Accept" value="Accept request">
        <input class="decline" type="submit" name="Decline" value="Decline request">
      </form>
    </div>

</div>
